$ted-red: #e61b2e;

@font-face {
    font-family: NeueHaas;
    src: url(../fonts/NeueHaasVariableV1.2.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {

}

.container {
    padding: 0 2rem 0 2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1.2fr;

    .cover-image {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0 -2rem 0 -2rem;

        .graphic {
            width: 60%;
            margin:auto;            
        }    
    }

    .content-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .header {
            font-family: 'NeueHaas', sans-serif;
            font-weight: 450;
            font-size: 1.8rem;
            margin-top: 4rem;
        }
    
        .sub-header {
            font-family: 'NeueHaas', sans-serif;
            font-weight: 500;
            font-size: .9rem;
            margin-top: 10px;
        }

        .social-container {

            .social-title {
                font-family: 'NeueHaas', sans-serif;
                font-weight: 500;
                font-size: 1.1rem;
            }

            .social-icons {
                display: flex;
                align-items: center;
                margin-top: 8px;
                width: 12rem;
                justify-content: space-between;
                .social-icon {
                    fill: black;
                    transition: all .2s ease-in-out;
                    height: 32px;
                    width: 32px;
                }
                .social-icon:hover {
                    fill: $ted-red;
                }
            }
        }

        .logos-container {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            .logo {
                height: 25px;
                margin-right: 20px;
            }
        }
    }
}